body {
    height: 100vh;
    /* display: flex; */
    font-family: 'Shojumaru', cursive;
    background-color: rgb(68, 109, 145);
}

/* header{

} */

h1.title{
    text-align:center;
    color:chartreuse;
    padding: 0em;
    
}

#message {
    font-size: 16pt;
    text-align: center;
    color: rgb(235, 235, 235);
    margin: auto;
    padding: auto;
}

#timer-stopwatch-container{
    margin: auto;
}

#countdown{
    text-align: center;
    font-size: 2em;
    margin-block-start: auto;
}

section#cardArray {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4, 14vmin);
    grid-template-columns: repeat(4, 14vmin);
    grid-gap: 2vmin;
    margin: 0 auto 0 auto;
}

.cards {
    border: 3px solid black;
    font-size: 8vmin;
    height: auto;
    width: auto;
    text-align: center;
    vertical-align: middle;
    background: orange;
    border-radius: 10px;
}
/* .cards:hover {
    opacity: 0.1;
    cursor:pointer;
    transition-delay: .2;
} */

div.button{
    width: auto;
    height: 25px;
    margin: 25px;
    text-align: center;
    padding-bottom: 50px;
}