body {
    height: 100vh;
    font-family: 'Shojumaru', cursive;
    background-color: rgb(68, 109, 145);
}

header{
    margin-bottom: 30px;
} 

h1.title{
    text-align:center;
    color:chartreuse;
    padding: 0em;
    
}

#message {
    font-size: 16pt;
    text-align: center;
    color: rgb(235, 235, 235);
    margin: auto;
    padding: auto;
}

#timer{
    text-align: center;
    font-size: 2em;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 500px;
    justify-content: center;
    margin: auto;
}

.cards {
    position: relative;
    border: 3px solid black;
    font-size: 8vmin;
    height: 100px;
    width: 100px;  
    transform-style: preserve-3d;
    transition: all 1s linear;
}

.front {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid green;
    /* z-index: 1; */
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.back {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /* z-index: 2; */
    /* transform: rotateY(180deg); */
    backface-visibility: hidden;
}

div.button{
    width: auto;
    height: 25px;
    margin: 25px;
    text-align: center;
}

.grid .cards.active {
    transform: rotateY(180deg);
}
